#gritter-notice-wrapper
  position fixed
  bottom 10px
  z-index 9000
  left 140px

.gritter-item
  border-radius 5px
  background-color rgba(0, 0, 0, 0.8)
  display inline-block
  padding 5px
  margin-right 5px

  img
    background-color white
    display block
    margin auto
    width 32px
    height 32px

  p
    margin 0

.gritter-item-wrapper
  display inline-block
